.search-icon:hover {
  text-shadow: 0.2px 0.2px 1px black;
  transition: text-shadow 0.3s ease;
}

.nav-menu-icon {
  position: absolute;
  left: 7.8px;
  font-size: 22px;
  height: 55px;
  padding: 15px;
  margin: 0 2px;
  cursor: pointer;
  background-color: dodgerblue;
  border: 0.5px solid black;
  border-radius: 2px;
}

.nav-menu-icon:hover {
  text-shadow: 0.2px 0.2px 3px black;
  transition: text-shadow 0.3s ease;
}

.fa-times {
  transform: scaleX(1.17);
}
